@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.modalContainer {
	min-width: 320px;
	z-index: 80;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.45);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	opacity: 0;
	animation: fade 0.3s linear;
	animation-fill-mode: forwards;
	.closeModal {
		position: absolute;
		top: 15px;
		right: 15px;
		color: black;
		cursor: pointer;
		z-index: 100;
		@media (min-width: 465px) {
			top: 8px;
			right: 8px;
		}
	}
	.portraitThumbnail {
		width: 100vw;
		min-width: 320px;
		max-width: 1300px;
		height: 100vh;
		display: flex;
		background: white;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		@media (min-width: 765px) {
			width: calc(100vw - 180px);
			justify-content: center;
			align-items: center;
		}
	}
	.landscapeThumbnail {
		width: 100vw;
		min-width: 320px;
		height: 100vh;
		background: white;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		@media (min-width: 765px) {
			width: calc(100vw - 180px);
			justify-content: space-around;
		}
	}
	.userCardContainer {
		width: 100%;
		height: 70px;
		margin-left: 25px;
	}
	.portraitImage {
		width: 100%;
		height: 100%;
		margin-top: 10px;
		background-size: contain;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (min-width: 1065px) {
			transform: scale(1.1);
		}
	}
	.landscapeImage {
		width: 100%;
		height: 50%;
		margin-top: 10px;
		background-size: contain;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (min-width: 1065px) {
			transform: scale(1.4);
		}
	}
	.descriptionContainer {
		width: 100%;
		height: 70px;
		margin-left: 25px;
		font-size: 14px;
		overflow: scroll;
	}
}
