@import url("https://fonts.googleapis.com/css?family=Montserrat");
// Variables
$montserrat: "Montserrat", sans-serif;

.App {
	width: 100vw;
	display: flex;
	justify-content: center;
	font-family: $montserrat;
}
