@-webkit-keyframes rotate {
	to {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

.loadingContainer {
	width: 100vw;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.spinner {
	-webkit-animation: rotate 1.5s linear infinite;
	animation: rotate 1.5s linear infinite;
	color: #505050;
}
