@-webkit-keyframes rotate {
	to {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

.loadingContainer {
	width: 100%;
	height: 80px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.spinner {
	-webkit-animation: rotate 1.5s linear infinite;
	animation: rotate 1.5s linear infinite;
	color: #505050;
}
