.searchContainer {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	.searchInput {
		width: 50vw;
		height: 25px;
		border-radius: 20px;
		outline: none;
		padding-left: 10px;
		border: 1pt solid #eeeeee;
		&:hover {
			border: 1pt solid #dbdbdb;
		}
	}
	::-webkit-input-placeholder {
		/* Chrome/Opera/Safari */
		font-size: 14px;
		display: flex;
	}
	::-moz-placeholder {
		/* Firefox 19+ */
		font-size: 14px;
		margin-left: 5px;
	}
	:-ms-input-placeholder {
		/* IE 10+ */
		font-size: 14px;
		margin-left: 5px;
	}
	:-moz-placeholder {
		/* Firefox 18- */
		font-size: 14px;
		margin-left: 5px;
	}
}
